<%= render '/home/home' %>

<div id="content">
  <% if(@searched_class) %>
	<h2>
	  <%= @searched_class.course_number %> <%= @searched_class.name %>
	</h2>

	<h4>
	  <%= @searched_class.department %> Department<br>
	  <%= @searched_class.units %> Units
	</h4>

	<div id="comments">
		<%= render '/posts/comments' %>
	</div>
  <%else %>
    <h3> No posts exist for this class</h3>
  <% end %>

	

	<div id="newpost">
		<h4>Have you taken this course?</h4>
		<%= render '/posts/form' %>
	</div>
	
</div>
