<%= form_tag '/home/submit_search' do %>
    <%=label_tag 'Course Number' %>
    <%=text_field_tag 'number'%>

    <div><%= submit_tag 'Save' %></div>
<% end -%>

<table style = margin-top:5%;>
 <% if(@searched_class && @searched_class.posts.length > 0) %>
   <% @searched_class.posts.each do |post| %>
   	  <tr>
 	    <td> <%= post.comment %> </td>
 	  </tr>
     <% end %>
 <% else %>
 <tr>
   <td> <%= "There are currently no comments for that course" %>  
 </tr>
 <% end %>

</table>

<%= link_to "Add New Post", new_post_path %>